<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/pages/home">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/pages/about">ABOUT</a></li>
        <li><a href="/pages/services">SERVICES</a></li>
        <li><a href="/pages/portfolio">PORTFOLIO</a></li>
        <li><a href="/pages/pricing">PRICING</a></li>
        <li><a href="/pages/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
<%- flash.each do |name, message| %>
<p><i><%= "#{name}: #{message}" %></i></p>
<% end %>
</div>